FightGame/Saved/Autosaves/Game/FightGame/Blueprints/AllLevels/PlayerInfo_Auto1.uasset
FightGame/Saved/Autosaves/Game/FightGame/Blueprints/AllLevels/PlayerSaveGame_Auto1.uasset
FightGame/Saved/Autosaves/Game/FightGame/Blueprints/Characters/ThirdPersonCharacter_Auto2.uasset
FightGame/Saved/Autosaves/Game/InfinityBladeWarriors/Character/CompleteCharacters/SK_Mannequin_Skeleton_Auto2.uasset
FightGame/Saved/Autosaves/Game/Mannequin/Character/Mesh/UE4_Mannequin_Skeleton_Auto2.uasset
FightGame/Saved/Autosaves/Game/ThirdPersonIdle_Auto2.uasset
FightGame/Saved/Autosaves/Game/ThirdPersonJump_Loop_Auto2.uasset
FightGame/Saved/Autosaves/Game/ThirdPersonJump_Start_Auto2.uasset
FightGame/Saved/Autosaves/Game/ThirdPersonRun_Auto2.uasset
FightGame/Saved/Autosaves/Game/ThirdPersonWalk_Auto2.uasset
FightGame/Saved/Autosaves/Game/ThirdPerson_AnimBP_Auto2.uasset
FightGame/Saved/Autosaves/Game/ThirdPerson_IdleRun_2D_Auto2.uasset
FightGame/Saved/Autosaves/Game/ThirdPerson_Jump_Auto2.uasset
FightGame/Saved/Autosaves/Game/FightGame/Blueprints/AllLevels/BP_GameInfoInstance_Auto1.uasset
FightGame/Saved/Backup/Epic_Skeleton_Template_Skeleton_2017-02-04-17-18-17.uasset
FightGame/Saved/Backup/SK_Mannequin_Skeleton_2017-02-04-18-34-33.uasset
FightGame/Saved/Backup/SK_Mannequin_Skeleton_2017-02-04-18-57-42.uasset
FightGame/Saved/Backup/SK_Mannequin_Skeleton_2017-02-04-19-04-31.uasset
FightGame/Saved/Backup/ThirdPersonCharacter_2017-02-04-18-50-38.uasset
FightGame/Saved/Backup/ThirdPersonCharacter_2017-02-04-19-00-50.uasset
FightGame/Saved/Backup/ThirdPersonExampleMap_2017-02-04-18-03-06.umap
FightGame/Saved/Backup/ThirdPersonExampleMap_2017-02-04-18-50-49.umap
FightGame/Saved/Backup/ThirdPersonExampleMap_2017-02-04-19-04-30.umap
FightGame/Saved/Backup/ThirdPersonExampleMap_BuiltData_2017-02-04-18-03-06.uasset
FightGame/Saved/Backup/ThirdPersonExampleMap_BuiltData_2017-02-04-18-50-49.uasset
FightGame/Saved/Backup/UE4_Mannequin_Skeleton_2017-02-04-18-58-31.uasset
FightGame/Saved/Backup/UE4_Mannequin_Skeleton_2017-02-04-19-04-31.uasset
FightGame/Saved/Autosaves/*
FightGame/Saved/Backup/*
FightGame/Saved/Logs/*
